html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

canvas{
  display:block;
  vertical-align:bottom;
}

#box {
  position: absolute;
  top: 0;
  z-index: -1;
  background-color: #f0eeff;
}

@media only screen and (max-width: 768px) {
  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.5);
  }
}

/* loading CSS样式 */
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
.appClass {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
}

#app span {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #3498db;
  opacity: 0.5;
  border-radius: 20px;
  animation: move 1s infinite ease-in-out;
}

#app span:nth-child(1) {
  left: calc(50% - 50px);
}

#app span:nth-child(2) {
  left: calc(50% - 30px);
  animation-delay: .2s;
}

#app span:nth-child(3) {
  left: calc(50% - 10px);
  animation-delay: .4s;
}

#app span:nth-child(4) {
  left: calc(50% + 10px);
  animation-delay: .6s;
}

#app span:nth-child(5) {
  left: calc(50% + 30px);
  animation-delay: .8s;
}

@keyframes move {
  0% {
    opacity: 0.3;
    transform: translateY(0px);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  }
  50% {
    opacity: 1;
    transform: translateY(-10px);
    background: #f1c40f;
    box-shadow: 0px 20px 3px rgba(0, 0, 0, 0.05);
  }
  100% {
    opacity: 0.3;
    transform: translateY(0px);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  }
}